---

const { nav_links, base } = Astro.props;
  
const {footer_title, footer_description, footer_text, phone, email, address, work_hours} = base

---

<footer class="bg-main-secondary py-10 rounded-t-2xl">
  <div class="layout flex flex-col xl:flex-row justify-between text-main-light">
    <!-- Left section: Text and Navigation -->
    <div class="w-full xl:w-2/5 mb-6 xl:mb-0">
      <h2 class="text-3xl font-serif">{footer_title}</h2>
      <p>
        {footer_description}
      </p>
    </div>

    <!-- Right section: Contact Information -->
    <div class="flex flex-col items-end w-full xl:w-1/3">
      <p class="h4">{phone}</p>
      <p class="h4">{email}</p>
    </div>
  </div>

  <div class="layout mt-4 border-t-2 border-main-light pt-4 text-main-light">
    <div class="flex flex-col xl:flex-row justify-between">
      <!-- Left section: Navigation Links -->
      <div class="mb-4 xl:mb-0">
        <span class="font-bold underline underline-offset-2">Навигация</span>
        <ul>
          {nav_links.map(nav_link => <li><a href={nav_link.slug}>{nav_link.name}</a></li>)}
        </ul>
      </div>

      <!-- Right section: Contact Links -->
      <div class="mb-4 xl:mb-0">
        <span class="font-bold underline underline-offset-2">Клиенту</span>
        <ul>
          <li><a href="#">Скачать портфолио</a></li>
          <li><a href="#">Скачать каталог материалов</a></li>
          <li><a href="#">Заказать образец</a></li>
          <li><a href="#">Получить консультацию</a></li>
        </ul>
      </div>

      <!-- Duplicate sections for the remaining navigation -->
      <div class="mb-4 xl:mb-0">
        <span class="font-bold underline underline-offset-2">Информация</span>
        <ul>
          <li><p>{address}</p></li>
          <li><p>{work_hours}</p></li>
        </ul>
      </div>

      <div>
        <span class="font-bold underline underline-offset-2">Контакты</span>
        <ul>
          <li><a href={`tel:${phone}`}>{phone}</a></li>
          <li><a href={`mailto:${email}`}>{email}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="layout mt-6 border-t-2 border-main-light pt-4 text-center text-main-light flex flex-col xl:flex-row justify-between">
    <p>{footer_text}</p>
    <a href="#">Политика конфиденциальности</a>
  </div>
</footer>
