---
import { getHeroData } from "../lib/payload";
import Hero from "../components/Hero.astro";

const hero = await getHeroData();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Hero
			title={hero.title}
			subtitle={hero.subtitle}
			image={`${import.meta.env.PUBLIC_PAYLOAD_API}${hero.image.url}`}
			buttonText={hero.buttonText}
		/>
	</body>
</html>
